<% provide(:title, "Log In") %>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
</head>
<body>
<div class="center jumbotron">
  <h1>Log in</h1>
  <h2>
    The Log in is not created...You can return to
    <a href="http://localhost:3000/">Home page</a>
  </h2>
</body>
</html>