<h1>Scale Tools</h1>
<p>Hi <%= @user.name %>, </p>

<p>
  Welcome to the Scale Tools app! Click on the link below to remind your password:
</p>
<%= link_to "Remind password", newpass_url(@user.activation_token, email: @user.email) %>